:root {
  --fs-xsm: 10px;
  --fs-2xsm: 14px;
  --fs-sm: 16px;
  --fs-2sm: 18px;
  --fs-lg: 17px;
  --fs-xl: 16px;
  --fs-2xl: 20px;
  --fs-30: 25px;
  --fs-35: 35px;
}

.fs_xsm {
  font-size: var(--fs-xsm);
}

.fs_2xsm {
  font-size: var(--fs-2xsm);
}

.fs_sm {
  font-size: var(--fs-sm);
}

.fs_2sm {
  font-size: var(--fs-2sm);
}

.fs_lg {
  font-size: var(--fs-lg);
}

.fs_xl {
  font-size: var(--fs-xl);
}

.fs_2xl {
  font-size: var(--fs-2xl);
}

.fs_30 {
  font-size: var(--fs-30);
}

.fs_35 {
  font-size: var(--fs-35);
}

.ff_poppins {
  font-family: 'Poppins';
}

.ff_roboto {
  font-family: 'Roboto', sans-serif;
}
@media (min-width:576px) {
  :root {
    --fs-xsm: 10px;
    --fs-2xsm: 14px;
    --fs-sm: 16px;
    --fs-2sm: 18px;
    --fs-lg: 20px;
    --fs-xl: 24px;
    --fs-2xl: 25px;
    --fs-30: 30px;
    --fs-35: 35px;
  }
}